@import "util";

main{
	margin-top: 80px;
	@include adjust-font-size-to ($base-font-size);
}

.slider{
	position: relative;
	overflow: hidden;
	&::after{
		content: '';
		display: table;
		clear: both;
	}
}
.slider-bottom{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 75px;
	// z-index: 99;
	.swiper-pagination{
		margin: 0 auto;
		left: 0;
		right: 0;
		width: 92px;
		.swiper-pagination-bullet{
			margin: 0 5px;
		}
	}
}
.slide-title {
	// position: absolute;
	bottom: 0;
	width: 100%;
	text-align: left;
	line-height: 24px;
	font-size: 15px;
	padding: 10px 0px 10px 10px;
	background: rgba(0, 0, 0, 0.9);
	z-index: 99;
	overflow: hidden;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	-moz-text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	text-overflow: ellipsis;
	a{
		text-decoration: none;
	}
}
.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    .swiper-slide {
	    text-align: center;
	    font-size: 18px;
	    background: #fff;
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: -webkit-flex;
	    display: flex;
	    -webkit-box-pack: center;
	    -ms-flex-pack: center;
	    -webkit-justify-content: center;
	    justify-content: center;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
	    -webkit-align-items: center;
	    align-items: center;
	    a{
			width: 100%;
		}
		img{
			width: 100%;
		}
	}
}

.slider-pc{
	display: none;
	margin-top: 46px;
}
#content{
	margin-top: 10px;
	padding: 0 5px;
}
#content, .carousel{
	// @extend %block;
	// padding: rhythm(2) 0;
	@include container();
	// max-width: $pageWidth;
}
#content{
	.list{
		width: 46.7%;
		margin-left: 5px;
		margin-right: 5px;
		.view{
			opacity: 0.5;
		}
	}
}

@include breakpoint(375px){
	#content{
		.list{
			width: 47%;
		}
	}
}
@include breakpoint(401px){
	#content{
		.list{
			width: 47.3%;
		}
	}
}
@include breakpoint(475px){
	#content{
		.list{
			width: 47.77%;
		}
	}
}
@include breakpoint(545px){
	#content{
		.list{
			width: 48%;
		}
	}
}
@include breakpoint(583px){
	#content{
		.list{
			width: 48.2%;
		}
	}
}
@include breakpoint(655px){
	#content{
		.list{
			width: 48.4%;
		}
	}
}
@include breakpoint(745px){
	#content{
		.list{
			width: 48.6%;
		}
	}
}
@include breakpoint(775px){
	#content{
		.list{
			width: 48.65%;
		}
	}
}
@include breakpoint(910px){
	#content{
		.list{
			width: 48.85%;
		}
	}
}
@include breakpoint(768px){
	.phone-icon{
		display: none;
	}
	// .loading{
	// 	margin-top: 15px;
	// 	width: 40px;
	// 	height: 40px;
	// }
	#content{
		.list{
			.info{
				h3{
					font-size: 18px;
				}
			}
			.author{
				margin-bottom: 2px;
			}
			.author, .view{
				font-size: 15px;
			}	
		}
	}
}
@include breakpoint(1024px){
	.slider{
		// width: 1200px;
		// margin: 0 auto;
		display: none;
		position: relative;
		overflow: hidden;
		@include span(12);
		width: 100%;
		margin: 0;
		#owl-demo{
			// @include span(12);
			// display: none;
		}
		.slide-title{
			position: absolute;
			width: 100%;
			bottom: 0;
			margin: 0;
			padding: 10px 0 10px 10px;
			background: rgba(0, 0, 0, 0.9);
		}
		.owl-pagination{
			top: -45px;
		}
		
	}
	.slider-pc{
		display: block;
		background: rgba(0, 0, 0, 0.9);
		img{
			width: 100%;
		}
		.slider-main{
			position: relative;
			@include span(12);
			width: 50%;
			margin: 0;
		}
		.slider-sub{
			@include span(12);
			width: 50%;
			margin: 0;
			.sub-list{
				position: relative;
				@include span(6);
				width: 50%;
				margin: 0;
			}
		}
		.slide-title{
			position: absolute;
			width: 100%;
			bottom: 0;
			margin: 0;
			padding: 10px 0 10px 10px;
			font-size: 16px;
			background: rgba(0, 0, 0, 0.9);
		}
		&::after{
			content: '';
			display: table;
			clear: both;
		}
	}
	
	#content{
		padding-top: 1px;
		max-width: 1200px;
		margin: 0 auto;
		.list{
			@include span(6);
			// width: 24.16105%;
			width: 24%;
			margin-left: 5px;
			margin-right: 5px;
			margin-top: 10px;
			margin-bottom: 0;
			.info{
				h3{
					line-height: 24px;
				}
			}
		}

	}
	
}
// @include breakpoint(1110px){
// 	#content{
// 		.list{
// 			width: 24.09154%;
// 		}
// 	}
// }
@include breakpoint(1150px){
	#content{
		.list{
			width: 24.1%;
		}
	}
}
// @include breakpoint(1200px){
// 	#content{
// 		.list{
// 			width: 24.15%;
// 		}
// 	}
// }
